* {
     padding: 0;
     margin: 0;
     font-family: Inter, sans-serif;

 }

.clear-wrapper {
    border: 1px solid #dddddd;
    border-radius: 4.5px;
    max-width: 800px;
    width: 80%;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin: 1rem auto 0 auto;
}

 .box-section {
     flex-grow: 1;
     border: 1px solid black;
     max-width: 1200px;
     margin: 0 1rem 0 1rem;
 }

.full-width-section-black {
    flex-grow: 1;
    background-color: black;
    flex-flow: wrap;
}


 .heading-1 {
     background-image: linear-gradient(135deg, #d26dfa, #e65270);
     width: 90%;
     background-size: 150% 150%;
     font-size: 4.5rem;
     font-weight: 800;
     letter-spacing: -0.0375em;
     background-clip: text;
     margin: 0 auto 1rem auto;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 html {
     background-color: #f7f7f7;
 }

main {
    padding: 0;
    display: flex;
    flex-direction: column;

    #d1 {
        align-items: center;
        padding: 1rem 0 8rem 0;
        text-align: center;
            #description-wrapper {
                width: 90%;
                max-width: 800px;
                text-wrap: balance;
                text-align: center;
                margin: auto auto 1.5rem auto;
                h3 {
                    font-size: 1.3rem;
                    background: black;
                    color: #eee;
                }

            }
            #link-wrapper {
                display: flex;
                justify-content: center;
                background-color: black;
                h3, a {
                    margin: 0 1rem 1rem 1rem;
                    font-size: 1.3rem;
                    background: black;
                    color: #eee;
                }
            }

            #profile-picture-wrapper {
                margin: 0 auto 0 auto;
                background-color: transparent;
                max-width: 250px;
                position: relative;
                img {
                    z-index: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto 0 auto;
                    width: 100%;
                    border-radius: 50%;
                }
            }

    }

    #d2 {
        margin: 10rem auto 0 auto;
        #image-wrapper {
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            padding-bottom: 1.5rem;
            width: 100%;

            * {
                margin: 5px;
                height: 150px;
            }
        }
        #text-wrapper {
            h3 {
                font-size: 1.1rem;
                font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            }

        }
    }
}
