---
import SpeedInsights from '@vercel/speed-insights/astro';

import { ViewTransitions } from 'astro:transitions';
import '@/styles/shadcnui.css';
import '@/styles/global.scss';

interface Props {
	title: string;
	viewTransitions?: boolean;
}

---

<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='My portfolio, enjoy!' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<meta property="og:type" content="website" />
		<meta property="og:Title" content="Dmitriy Ivkov" />
		<meta property="og:description" content="Dmitriy's portfolio website" />
		<!--<meta property="og:url" content="" />-->
		<!--<meta property="og:image" content="https://" />-->
		<title>Dmitriy Ivkov</title>
		<ViewTransitions />
	</head>
	<body>
		<SpeedInsights />
		<slot />
	</body>
</html>
